.sign-main {
	display: flex;
	height: 100%;
    overflow: auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	display: flex;
	width: 90%;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	justify-content: flex-end;
	padding: 0 15px;
}

.user {
	color: red;
}

.greetings {
	color: block;
	font-size: inherit;
	color: #f9e9cd;
}

.logout {
	color: green;
	cursor: pointer;
}

.body {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100% - 48px);
}

.sign-area {
	display: flex;
	width: 100%;
	height: 300px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 0;
}

.sign {
	width: 150px;
	height: 150px;
	border: 1px solid #FFD700;
	border-radius: 50%;
	background-color: #FAFFBD;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	color: rgba(238, 63, 77, 0.8);
	cursor: pointer;
}

.signed-status {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	cursor: pointer;
	color: #ededed;
    background-color: rgba(129, 175, 237, 0.6);
    border: 0;
    box-shadow: none;
    cursor: auto;
}

.sign:active {
	color: #32CD32;
	background-color: #FFD700;
}

.last-sign-time {
	margin-top: 20px;
	font-size: 16px;
	color: #141e1b;
}

.count-area {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: calc(100% - 348px);
}

.signed {
	display: flex;
	width: 100%;
	height: auto;
	flex: 1;
	padding-top: 15px;
	min-height: 100px;
	height: calc(100% / 2);
}

.signed-text {
	width: 65px;
	display: flex;
	flex-shrink: 0;
	color: #141e1b;
	padding-left: 10px;
}

.signed-persons {
	color: #22a2c3;
	display: flex;
	width: 100%;
	word-break: break-all;
	overflow: auto;
	padding-right: 10px;
}

.not-signed {
	display: flex;
	width: 100%;
	height: auto;
	flex: 1;
	padding-top: 15px;
	min-height: 100px;
	height: calc(100% / 2);
}

.not-signed-text {
	width: 65px;
	display: flex;
	flex-shrink: 0;
	color: #141e1b;
	padding-left: 10px;
}

.not-signed-persons {
	color: #ee3f4d;
	display: flex;
	width: 100%;
	word-break: break-all;
	overflow: auto;
	padding-right: 10px;
}
